/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require foundation_and_overrides
 */
@import 'foundation_and_overrides';
@import 'font-awesome';
ul.header {
  background: $snow;
  padding-top: 1em;
  padding-left: 0.7em;
  border-bottom: 3px solid $steel;
  margin: 0;
};
i.fa {
  margin-right: 5px;
};
.like_field {
  //position: absolute;
  bottom: 0.5em;
  width: 100%;
  opacity: 0.6;
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: normal;
  padding: 0.6rem;
  border: 1px solid rgba($steel, .8);
  background: rgba(#fff, .8);
  margin-top: 0.4rem;
  left: 0;
  color: $primary-color;
}
.score {
  font-size: 1rem;
}
#fractalator {
  background: $steel;
  color: $snow;
  margin: 0;
}
a.like i {
  transition: .2s;
}
a.like i:hover {
  transform: rotate(-30deg) scale(2.0);
  transition: .2s;
   -webkit-transform: rotate(-30deg) scale(2.0);
}
a.dislike i {
  transition: .2s;
}
a.dislike i:hover {
  transition: .2s;
  transform: rotate(30deg) scale(2.0);
   -webkit-transform: rotate(30deg) scale(2.0);
}
.subheader:not(.current) {
  border: 4px double $primary-color !important;
}
.subheader.current {
  background-color: $primary-color !important;
}
.ifs_preview {
  border: 4px double $primary-color;
  width: 308px;
  height: 308px;
  position: relative;
  #mouse_handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    cursor: crosshair;
  }
}
.curve_preview {
  border: 4px double $primary-color;
  width: 608px;
  height: 608px;
  position: relative;
  #mouse_handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    cursor: crosshair;
  }
}
.icon_button {
  @extend .button;
  margin: 0 0 0;
  padding: 3px;
  .fa {
    margin-right: 0;
  }
  &.selected {
    @extend .alert;
  }
  &.command {
    background-color: $success-color;
    &:focus,
    &:hover {
      background-color: scale-color($success-color, $lightness: $button-function-factor);
    }
  }
}
#length_pair,
#angle_pair {
  width: 100px;
}
